<!doctype html>
<html lang="en" class="h-100">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaTrace</title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/fonts/bootstrap-icons-1.8.3/bootstrap-icons.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MetaTrace</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-search"></i> Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/metadata"><i class="bi bi-table"></i> Metadata</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    {% block content %}{% endblock %}
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <a href="https://github.com/dioptra-io/metatrace">github.com/dioptra-io/metatrace</a>
    </div>
</footer>

<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
{% if DEBUG %}{{ hotreload.script(url_for('hot-reload')) | safe }}{% endif %}
</body>
</html>
